.searchBox {
    padding: 30px;
    background-color: #ededed;
    display: inline-block;
    float: right;
}

.searchBox input {
    border: solid thin;
    text-align: center;
    border-radius: 20px;
    height: 30px;
    width: 250px;
}